<ion-view title="Home">

	<ion-nav-buttons side="left">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
	</ion-nav-buttons>

	<ion-content>
		<h1>Home Page!</h1>
	</ion-content>
</ion-view>