<ion-view>

	<ion-nav-buttons side="left">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
	</ion-nav-buttons>

	<ion-content>
		<ion-list>
			<ion-item ng-repeat="item in items"
				item="item"
				href="#/item/{{item.id}}">
				Item {{ item.id }}
			</ion-item>
		</ion-list>
		<ion-infinite-scroll
			on-infinite="loadMore()"
			distance="10%">
		</ion-infinite-scroll>
	</ion-content>

</ion-view>