<ion-view title="List Accordion">

  <ion-nav-buttons side="left">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </div>
  </ion-nav-buttons>

  <ion-content>

    <ion-list>
      <div ng-repeat="group in groups">
        <ion-item class="item-stable"
          ng-click="toggleGroup(group)"
          ng-class="{active: isGroupShown(group)}">
          <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          Group {{group.name}}
        </ion-item>
        <ion-item class="item-accordion"
          ng-repeat="item in group.items"
          ng-show="isGroupShown(group)">
          {{item}}
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>