<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" href="http://learn.ionicframework.com/" target="_blank">
      Learn Ionic
      </a>
      <a class="item" href="http://ionicframework.com/docs/" target="_blank">
      Documentation
      </a>
      <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
      Showcase
      </a>
      <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
      Submit an Issue
      </a>
      <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
      Github Repo
      </a>
    </div>
  </ion-content>
</ion-popover-view>