<ion-view title="Pull to refresh">
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="newTask()">New</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher on-refresh="doRefresh()"
			pulling-text="Pull to refresh..."
			refreshing-text="Refreshing!"
			refreshing-icon="ion-loading-c">
		</ion-refresher>
		<ion-list>
			<ion-item ng-repeat="item in items">{{item}}</ion-item>
		</ion-list>
	</ion-content>
</ion-view>