<ion-view title="Radio buttons">

	<ion-nav-buttons side="left">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
	</ion-nav-buttons>

	<ion-content>

	  <div class="list">

	    <div class="item item-divider">
	      Clientside, Selected Value: {{ data.clientSide }}
	    </div>

	    <ion-radio ng-repeat="item in clientSideList"
	               ng-value="item.value"
	               ng-model="data.clientSide">
	      {{ item.text }}
	    </ion-radio>

	    <div class="item item-divider">
	      Serverside, Selected Value: {{ data.serverSide }}
	    </div>

	    <ion-radio ng-repeat="item in serverSideList"
	               ng-value="item.value"
	               ng-model="data.serverSide"
	               ng-change="serverSideChange(item)"
	               name="server-side">
	      {{ item.text }}
	    </ion-radio>

	  </div>

	</ion-content>
</ion-view>