<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios7-arrow-back"></i> Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="main" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-assertive">
            <div class="title">Side Menu</div>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item class="item-dark item-icon-left" nav-clear menu-close href="#/main/home">
                    <i class="icon ion-email"></i>
                    Home
                </ion-item>
                <ion-item class="item-dark" nav-clear menu-close href="#/tab/dash">
                    Tabs
                </ion-item>
                <ion-item class="item-dark" nav-clear menu-close href="#/main/list/accordion">
                    List Accordion
                    <ion-option-button class="button-positive">Share</ion-option-button>
                </ion-item>
                <ion-item class="item-dark" nav-clear menu-close href="#/tab/pull-to-refresh">
                    Pull to refresh
                </ion-item>
                <ion-item class="item-dark" nav-clear menu-close href="#/main/list/infinite">
                    Infinite scroll list
                </ion-item>
                <ion-item class="item-dark" nav-clear menu-close href="#/main/radio">
                    Radio button
                </ion-item>
                <ion-item class="item-dark" nav-clear menu-close href="#/main/toggle">
                    Toggle button
                </ion-item>
                <ion-item class="item-dark" nav-clear menu-close href="#/tab/slide">
                    Slide
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>