<ion-view title="All bloat mode">

	<ion-nav-buttons side="right">
		<div class="buttons">
			<a class="button" href="#/tab/slide">
				Go to slide
			</a>
		</div>
	</ion-nav-buttons>

	<ion-content class="padding">
		<h1>Bloat mode</h1>

		<ion-list>
			<ion-item ng-repeat="item in items">
				Hello, {{item}}!
				</ion-item>
		</ion-list>

	</ion-content>

</ion-view>
