<ion-view title="Dashboard">
	<ion-content class="padding">
		<h1>Dash</h1>
		<a href="#/main/home" class="button button-block">Back Home</a>
		<button class="button button-dark button-block" ng-click="showBackdrop()">
			Show backdrop
		</button>
		<button class="button button-dark button-block" ng-click="showPopup()">
			Show popup
		</button>
		<button class="button button-primary button-block" ng-click="showConfirm()">
			Confirm popup
		</button>
		<button class="button button-positive button-block" ng-click="showAlert()">
			Alert popup
		</button>
		<button class="button button-block" ng-click="showActionsheet()">
			Show Actionsheet
		</button>
	</ion-content>
</ion-view>
