<ion-view title="Slider !">

<!-- 	<ion-nav-buttons side="left">
      <button class="button button-clear no-animation"
              ng-click="startApp()" ng-if="!slideIndex">
        Skip Intro
      </button>
      <button class="button button-clear no-animation"
              ng-click="previous()" ng-if="slideIndex > 0">
        Previous Slide
      </button>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="right">
      <button class="button button-clear no-animation"
              ng-click="next()" ng-if="slideIndex != 2">
        Next
      </button>
      <button class="button button-clear no-animation"
              ng-click="startApp()" ng-if="slideIndex == 2">
        Go Home
      </button>
    </ion-nav-buttons>

	<ion-slide-box on-slide-changed="slideHasChanged($index)" class="inside-tabs">
		<ion-slide>
			<h3>Using Awesome</h3>

			<div id="list">
				<h5>Just three steps:</h5>
				<ol>
					<li>Be awesome</li>
					<li>Stay awesome</li>
					<li>There is no step 3</li>
				</ol>
			</div>
		</ion-slide>
		<ion-slide>
			<h3>Using Awesome</h3>

			<div id="list">
				<h5>Just three steps:</h5>
				<ol>
					<li>Be awesome</li>
					<li>Stay awesome</li>
					<li>There is no step 3</li>
				</ol>
			</div>
		</ion-slide>
		<ion-slide>
			<h3>Using Awesome</h3>

			<div id="list">
				<h5>Just three steps:</h5>
				<ol>
					<li>Be awesome</li>
					<li>Stay awesome</li>
					<li>There is no step 3</li>
				</ol>
			</div>
		</ion-slide>
	</ion-slide-box>

</ion-view>