<ion-view title="Friends">

	<ion-nav-buttons side="left">
		<div class="buttons">
			<a class="button" href="#/tab/pull-to-refresh">
				Pull to refresh
			</a>
		</div>
	</ion-nav-buttons>

	<ion-content>
		<ion-list>
			<ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
				{{friend.name}}
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>
