<ion-view>
  <!--
    The nav bar that will be updated as we navigate between views.
  -->
  <ion-nav-bar class="bar-assertive nav-title-slide-ios7" animation="nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
      Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <!--
    Create tabs with an icon and label, using the tabs-positive style.
    Each tab's child <ion-nav-view> directive will have its own
    navigation history that also transitions its views in and out.
  -->
  <ion-tabs class="tabs-icon-top tabs-assertive nav-title-slide-ios7">

    <!-- Dashboard Tab -->
    <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
      <ion-nav-view name="tab-dash" animation="slide-left-right"></ion-nav-view>
    </ion-tab>


    <!-- Friends Tab -->
    <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends">
      <ion-nav-view name="tab-friends" animation="slide-left-right"></ion-nav-view>
    </ion-tab>


    <!-- Account Tab -->
    <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
      <ion-nav-view name="tab-account" animation="slide-left-right"></ion-nav-view>
    </ion-tab>


    <!-- All Tab -->
    <ion-tab title="All" icon="icon ion-ios7-checkmark" href="#/tab/all">
      <ion-nav-view name="tab-all" animation="slide-left-right"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>