<ion-view title="Toggle">

	<ion-nav-buttons side="left">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
	</ion-nav-buttons>

	<div class="bar bar-loading bar-assertive" ng-if="data.isLoading">
      Loading...
    </div>

	<ion-content ng-class="{'has-loading': data.isLoading}">

		<ion-toggle ng-model="data.isLoading">Toggle me to toggle loading!</ion-toggle>

      <div class="list">

        <div class="item item-divider">
          Settings
        </div>

        <ion-toggle ng-repeat="item in settingsList"
                    ng-model="item.checked"
                    ng-checked="item.checked">
          {{ item.text }}
        </ion-toggle>

        <div class="item">
          <pre ng-bind="settingsList | json"></pre>
        </div>

        <div class="item item-divider">
          Notifications
        </div>

        <ion-toggle ng-model="pushNotification.checked"
                    ng-change="pushNotificationChange()">
          Push Notifications
        </ion-toggle>

        <div class="item">
          <pre ng-bind="pushNotification | json"></pre>
        </div>

        <ion-toggle toggle-class="toggle-assertive"
                    ng-model="emailNotification"
                    ng-true-value="Subscribed"
                    ng-false-value="Unubscribed">
          Newsletter
        </ion-toggle>

        <div class="item">
          <pre ng-bind="emailNotification | json"></pre>
        </div>

      </div>

    </ion-content>

</ion-view>